<div id="notifications_form">
  <%= form_with(model: [organization], local: true) do |form| %>
    <div class="mb-4">
      <%= form.label :slack_channel, "Slack Channel", class: "GenericFormLabel" %>
      <%= form.text_field :slack_channel, class: "InputField", placeholder: "Slack channel"  %>
    </div>
    <div class="mb-4">
      <%= form.label :slack_workspace_token, "Slack Workspace Token", class: "GenericFormLabel" %>
      <%= form.text_field :slack_workspace_token, class: "InputField", placeholder: "Slack Workspace"  %>
    </div>
    <div class="Bottom-right mb-4">
      <%= link_to 'Cancel', 'javascript:void(0)', class: "Btn-secondary", id: "cancel_slack" %>
      <%= form.submit "Submit", class: "Btn-primary ml-2" %>
    </div>
  <% end %>
</div>