<%= form_with(model: [company, companylink], class: "contents") do |form| %>
  <div class="mb-4">
    <%= form.label :name, class: "GenericFormLabel" %>
    <%= form.text_field :name, class: "InputField block mt-2 w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :link, class: "GenericFormLabel" %>
    <%= form.text_field :link, class: "InputField block mt-2 w-full" %>
  </div>

  <div class="Bottom-right mb-4">
    <%= form.submit "Add Link" ,class: "Btn-primary ml-2" %>
  </div>
<% end %>
