<%= form_with model: [@calendar, @post, Publishplatform.new], local: true do |form| %>
  <h3>Select Social Media Platforms:</h3>

  <%= form.collection_check_boxes :socialplatform_ids, Socialplatform.all, :id, :name do |b| %>
    <div>
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>

  <div>
    <%= form.submit "Create Publish Platforms" %>
  </div>
<% end %>
