<div id="notes">
  <%= render "leadnotes/form", pipeline: @pipeline, lead: @lead, leadnote: @new_lead_note %>
  <table>
    <thead>
      <tr>
        <th>Note</th>
        <th>Author</th>
        <th>Type</th>
        <th>To</th>
        <th>Actions</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @notes.each do |note| %>
        <tr>
          <td><%= note[:note] %></td>
          <td><%= note[:author] %></td>
          <td><%= note[:type] %></td>
          <td><%= note[:to] %></td>
          <td>
						<% if note[:type] == "lead" %>
							<%= link_to "Edit", edit_pipeline_lead_leadnote_path(@pipeline, @lead, note) %>
							<%= link_to "Delete", pipeline_lead_leadnote_path(@pipeline, @lead, note), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
						<% else %>
							-
						<% end %>
					</td>
          <td><%= note[:datetime] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>