<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @person %>

    <%= link_to "Edit this person", edit_person_path(@person), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to people", people_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this person", @person, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>

    <div id="companies">
      <%= render "personcompanies/formperson", person: @person, personcompany: @new_worker %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Is Working</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @person.personcompanies.select{ |pc| pc.company.present? }.each do |pc| %>
            <tr>
              <td><%= pc.company.name %></td>
              <td><%= pc.is_working %></td>
              <td>
                <%= link_to "Delete", destroy_by_person_personcompanies_path(@person,pc.company), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div id="emails">
      <%= render "emails/form", person: @person, email: @new_email %>
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Active</th>
            <th>Current</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @person.emails.select{ |e| e.id.present? }.each do |email| %>
            <tr>
              <td><%= email.email %></td>
              <td><%= email.is_active %></td>
              <td><%= email.current %></td>
              <td>
                <%= link_to "Edit", edit_person_email_path(@person,email) %>
                <%= link_to "Delete", person_email_path(@person,email), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="numbers">
      <%= render "phonenumbers/form", person: @person, phonenumber: @new_phone_number %>
      <table>
        <thead>
          <tr>
            <th>Phone Number</th>
            <th>Active</th>
            <th>Current</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @person.phonenumbers.select{ |p| p.id.present? }.each do |pn| %>
            <tr>
              <td><%= pn.number %></td>
              <td><%= pn.is_active %></td>
              <td><%= pn.current %></td>
              <td>
                <%= link_to "Edit", edit_person_phonenumber_path(@person,pn) %>
                <%= link_to "Delete", person_phonenumber_path(@person,pn), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="notes">
      <%= render "personnotes/form", person: @person, personnote: @new_person_note %>
      <table>
        <thead>
          <tr>
            <th>Note</th>
            <th>Author</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @person.personnotes.select{ |note| note.id.present? }.each do |note| %>
            <tr>
              <td><%= note.note %></td>
              <td><%= note.user.email %></td>
              <td>
                <%= link_to "Edit", edit_person_personnote_path(@person,note) %>
                <%= link_to "Delete", person_personnote_path(@person,note), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
