<div id="comments">
  <h2>Comments</h2>

  <%= render "comments/form", calendar: calendar, post: post, comment: @comment %>
  <div id="comments_info">
    <% @post.comments.each do |comment| %>
      <% if comment.id.present? %>
          <div id='<%= dom_id(comment) %>_info' class="comment">
          <%= render comment %>
          <div id='<%= dom_id(comment) %>_actions' class="comment">
            <%= link_to "Edit Comment", edit_calendar_post_comment_path(calendar, post, comment) %> |
            <%= link_to "Delete Comment", calendar_post_comment_path(calendar, post, comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
