<%= form_with(model: [@attachment, @attachmentcounter], local: true) do |form| %>
    <% if @attachmentcounter.errors.any? %>
      <div>
        <h2><%= pluralize(@attachmentcounter.errors.count, "error") %> prohibited this attachment counter from being saved:</h2>
        <ul>
          <% @attachmentcounter.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div>
      <%= form.label :user_id, "User" %>
      <%= form.collection_select :user_id, User.all, :id, :email, include_blank: true %>
    </div>
  
    <div>
      <%= form.label :approved, "Approved" %>
      <%= form.check_box :approved %>
    </div>
  
    <div>
      <%= form.label :rejected, "Rejected" %>
      <%= form.check_box :rejected %>
    </div>
  
    <div>
      <%= form.submit @attachmentcounter.new_record? ? "Create Attachment Counter" : "Update Attachment Counter" %>
    </div>
  <% end %>
  