<div id="<%= dom_id consultation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= consultation.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= consultation.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= consultation.start_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End time:</strong>
    <%= consultation.end_time %>
  </p>

</div>
