<%= render @organization %>
<%= render "dashboard/organizations/teams", organization: @organization, team: @team %>

<div>
  <%= link_to "Edit this organization", edit_dashboard_organization_path(@organization) %> |
  <%= link_to 'Back to Dashboard', dashboard_path %>
  <% if current_user.Admin? %>
    <%= button_to "Destroy this organization", dashboard_organization_path(@organization), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>


