<div class="LoginSection">
  <div class="Container max-w-md w-full">
    <div class="HeaderContainer">
      <h2 class="ContainerHeaderText">Forgot your password?</h2>
    </div>

    <div class="LoginFormContainer">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div>
          <%= f.label :email, "Email", class: "LoginFormLabel" %>
          <div class="mt-2 mb-5">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "LoginFormInput" %>
          </div>
        </div>

        <div>
          <%= f.submit "Send me reset password instructions", class: "Btn-primary w-full" %>
        </div>
      <% end %>

      <p class="SignupText">Wellbeing Warrior</p>
    </div>
  </div>
</div>
