<div id="attachments_info">
  <h2 class="ContainerHeaderText">Attachments</h2>
  <%= render "attachments/formurl", calendar: @calendar, post: @post, perspective: @perspective, attachment: Attachment.new %>
  <%= render "attachments/formfile", calendar: @calendar, post: @post, perspective: @perspective, attachment: Attachment.new %>
  <h3 class="GenericFormLabel"><strong>Current Attachments:</strong></h3>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow-md rounded-lg border border-gray-200">
      <thead>
        <tr>
          <th class="TableHeader border-r border-gray-200">Filename</th>
          <th class="TableHeader border-r border-gray-200">Status</th>
          <th class="TableHeader border-r border-gray-200">Likes</th>
          <th class="TableHeader border-r border-gray-200">Dislikes</th>
          <th class="TableHeader">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @attachments.each do |attachment| %>
          <tr class="hover:bg-gray-100" id="<%= dom_id(attachment)%>">
            <td class="TableEntry border-r border-gray-200 relative">
              <strong class="pr-6 flex items-center">
                <% if attachment.perspective.socialplatform.present? %>
                  <%= image_tag "platforms/#{attachment.perspective.socialplatform.name.downcase}.svg", class: "w-6 h-6", alt: attachment.perspective.socialplatform.name %>
                <% end %>
                <%= link_to (attachment.type_content == "cloud" ? "Link id: " + attachment.id.to_s : attachment.filename), attachment.type_content == "cloud" ? attachment.filename : calendar_post_perspective_attachment_path(@calendar, @post, @perspective, attachment), class: "hover:underline", target: :_blank  %>
              </strong>
              <%= link_to edit_calendar_post_perspective_attachment_path(@calendar, @post, @perspective, attachment), class: "absolute mr-2 right-0 top-1/2 transform -translate-y-1/2" do %>
                <%= image_tag('pencil.svg', alt: 'Edit', class: 'h-5 w-5') %>
              <% end %>
            </td>
            <td class="TableEntry border-r border-gray-200">
              <%= form_with url: update_status_calendar_post_perspective_attachment_path(@calendar, @post, attachment.perspective, attachment), method: :patch, local: true, id: "status-form-#{dom_id(attachment)}" do %>
                <select name="attachment[status]" id="selector_<%= dom_id(attachment) %>" class="selector_status_attachment InputField text-sm'" onchange="this.form.submit()">
                  <option value="approved" class= "text-green-600" <% if attachment.status == "approved" %> selected <% end %>>Approved</option>
                  <option value="in_analysis" class= "text-yellow-600" <% if attachment.status == "in_analysis" %> selected <% end %>>In Analysis</option>
                  <option value="rejected" class= "text-red-600" <% if attachment.status == "rejected" %> selected <% end %>>Rejected</option>
                </select>
              <% end %>
            </td>
            <td class="TableEntry border-r border-gray-200 text-center">
              <%= button_to (attachment.attachmentcounters.where(aproved: true).where(user: current_user).empty? ? image_tag('thumbs-up.svg', alt: 'Thumbs Up', class: 'h-5 w-5 inline-block') : image_tag('thumbs-up-black.svg', alt: 'Thumbs Up', class: 'h-5 w-5 inline-block')) + 
                          " #{attachment.attachmentcounters.where(aproved: true).count}".html_safe, 
                          like_calendar_post_perspective_attachment_path(@calendar, @post, attachment.perspective, attachment),
                          data: { turbo: false}, :method => :patch, class: 'flex justify-center items-center space-x-1 w-full' %>
            </td>
            <td class="TableEntry border-r border-gray-200 text-center">
              <%= button_to (attachment.attachmentcounters.where(rejected: true).where(user: current_user).empty? ? image_tag('thumbs-down.svg', alt: 'Thumbs Down', class: 'h-5 w-5 inline-block') : image_tag('thumbs-down-black.svg', alt: 'Thumbs Down', class: 'h-5 w-5 inline-block')) +
                          " #{attachment.attachmentcounters.where(rejected: true).count}".html_safe, 
                          dislike_calendar_post_perspective_attachment_path(@calendar, @post, attachment.perspective, attachment), 
                          data: { turbo: false}, :method => :patch, class: 'flex justify-center items-center space-x-1 w-full' %>
            </td>
            <td class="TableEntry border-r border-gray-200">
              <% if attachment.type_content != "cloud" %>
                <%= link_to "Download", download_calendar_post_perspective_attachment_path(@calendar, @post, attachment.perspective, attachment), 
                            class: "text-blue-600 hover:text-blue-500 hover:underline" %>
              <% end %>
              <%= link_to "Delete", calendar_post_perspective_attachment_path(@calendar, @post, attachment.perspective, attachment), 
                          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, 
                          class: "text-red-600 hover:text-red-500 hover:underline" %>   
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>