<div id="attachments">
  <h2>Attachment Counters</h2>

  <!-- Render the form for a new attachment counter -->
  <%= render "attachmentcounters/form", calendar: @calendar, post: @post, perspective: @perspective, attachment: @attachment, attachmentcounter: Attachmentcounter.new %>

  <div id="attachmentcounters_info">
    <% @attachment.attachmentcounters.each do |attachmentcounter| %>
      <% if attachmentcounter.id.present? %>
        <div id="<%= dom_id(attachmentcounter) %>_info" class="attachmentcounter">
          <%= render attachmentcounter %>

          <div id="<%= dom_id(attachmentcounter) %>_actions" class="attachmentcounter-actions">
            <%= link_to "Edit attachment counter", edit_calendar_post_perspective_attachment_attachmentcounter_path(@calendar, @post, @perspective, @attachment, attachmentcounter) %> |
            <%= link_to "Delete attachment counter", calendar_post_perspective_attachment_attachmentcounter_path(@calendar, @post, @perspective, @attachment, attachmentcounter), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
