<%= form_with(model: [pipeline,lead], class: "contents") do |form| %>
  <% if lead.errors.any? %>
    <div class="text-red-500 mb-1">
      <ol class="list-decimal list-inside">
        <% lead.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ol>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "GenericFormLabel" %>
    <%= form.text_field :name, class: "InputField" %>
  </div>

  <div class="mb-4">
    <%= form.label :start_date, class: "GenericFormLabel" %>
    <%= form.date_field :start_date, class: "InputField" %>
  </div>

  <div class="mb-4">
    <%= form.label :end_date, class: "GenericFormLabel" %>
    <%= form.date_field :end_date, class: "InputField" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "GenericFormLabel"%>
    <%= form.text_area :description,  class: "InputField"%>
  </div>

  <% if pipeline.to_people %>
    <div class="mb-4">
      <%= form.label :person_id, class: "GenericFormLabel" %>
      <%= form.select :person_id, options_for_select(@people.map { |w| [w[:name], w[:id]] }), { prompt: 'People' }, class: "InputField border-0" %>
    </div>
    
  <% else %>
    <div class="mb-4">
      <%= form.label :company_id, class: "GenericFormLabel" %>
      <%= form.select :company_id, options_for_select(@companies.map { |w| [w[:name], w[:id]] }), { prompt: 'Company' }, class: "InputField border-0" %>
    </div>
  <% end %>

  <div class="Bottom-right">
    <%= link_to "Cancel", 'javascript:history.back()', class: "Bottom-right Btn-secondary" %>
    <%= form.submit "Submit", class: "Btn-primary ml-2" %>
  </div>
<% end %>
