<div id="<%= dom_id lead %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= lead.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= lead.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End date:</strong>
    <%= lead.end_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= lead.description %>
  </p>
</div>
