<div id="<%= dom_id lead %>">
  <p class="mb-4">
    <label class="GenericFormLabel">Name:</label>
    <input class="InputFieldReadOnly text-gray-900" type="text" value="<%= lead.name %>" readonly>
  </p>

  <p class="mb-4">
    <label class="GenericFormLabel">Start date:</label>
    <input class="InputFieldReadOnly text-gray-900" type="text" value="<%= lead.start_date %>" readonly>
  </p>

  <p class="mb-4">
    <label class="GenericFormLabel">End date:</label>
    <input class="InputFieldReadOnly text-gray-900" type="text" value="<%= lead.end_date %>" readonly>
  </p>

  <div class="mb-4">
    <label class="GenericFormLabel">Description:</label>
    <div class="Comment mb-4">
      <% if lead.description.strip.empty? %>
        <p> No Description</p>
      <% else %>
        <% lead.description.split("\n").each do |line| %>
          <p><%= line %></p>
        <% end %>
      <% end %>
    </div>
  <div>
</div>
