<div class="flex items-center justify-center min-h-screen">
  <div class="Container w-full max-w-5xl px-8 mx-auto mt-16">
    <div class="HeaderContainer mb-8">
      <h2 class="ContainerHeaderText"><%= @lead.name %></h2>
    </div>  
    <!-- Lead Attributes -->
    <%= render @lead, pipeline:@pipeline %>

    <%= form_with url: update_stage_pipeline_lead_path(@pipeline, @lead), method: :patch, local: true, id: "stage-form-#{dom_id(@lead)}" do %>
      <label class="font-medium text-sm">Lead Stage:</label>
      <select name="lead[stage_id]" id="selector_<%= dom_id(@lead) %>" class="InputField text-sm" onchange="this.form.submit()">
        <% @pipeline.stages.each do |stage| %>
          <option value="<%= stage.id%>" <% if @lead.stage == stage %> selected <% end %>><%= stage.name %></option>
        <% end %>
      </select>
    <% end %>

    <%= link_to "Edit this lead", edit_pipeline_lead_path(@pipeline, @lead), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to pipeline", pipeline_path(@pipeline), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Delete", pipeline_lead_path(@pipeline, @lead), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <%= render "leadcontents/leadcontents", lead:@lead%>
    <%= render "leadnotes/notes" %>
  </div>
</div>

