<div class="flex items-center justify-center min-h-screen">
  <div class="Container w-full max-w-5xl px-8 mx-auto mt-16">
    <div class="HeaderContainer mb-8">
      <h2 class="ContainerHeaderText"><%= @lead.name %></h2>
    </div>  
    <!-- Lead Attributes -->
    <%= render @lead, pipeline:@pipeline %>

    <%= form_with url: update_stage_pipeline_lead_path(@pipeline, @lead), method: :patch, local: true, id: "stage-form-#{dom_id(@lead)}" do %>
      <label class="GenericFormLabel">Lead Stage:</label>
      <select name="lead[stage_id]" id="selector_<%= dom_id(@lead) %>" class="InputField text-sm" onchange="this.form.submit()">
        <% @pipeline.stages.each do |stage| %>
          <option value="<%= stage.id%>" <% if @lead.stage == stage %> selected <% end %>><%= stage.name %></option>
        <% end %>
      </select>
    <% end %>

    <div class="overflow-x-auto my-4">
      <div class="flex flex-nowrap md:justify-end space-x-2 text-sm mb-2 whitespace-nowrap min-w-full">
        <%= link_to "Back to pipeline", pipeline_path(@pipeline), class:"Btn-secondary block" %>
        <%= link_to "Edit lead", edit_pipeline_lead_path(@pipeline, @lead), class:"Btn-primary block" %>
        <%= link_to "Delete", pipeline_lead_path(@pipeline, @lead), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"Btn-delete block" %>
      </div>
    </div>

    <%= render "leadcontents/leadcontents", lead:@lead%>
    <%= render "leadnotes/notes" %>
  </div>
</div>

