<%= form_with(model: pipeline, class: "contents") do |form| %>
  <% if pipeline.errors.any? %>
    <div class="text-red-500 mb-1">
      <ol class="list-decimal list-inside">
        <% pipeline.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ol>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "GenericFormLabel" %>
    <%= form.text_field :name, class: "InputField" %>
  </div>

  <div class="mb-4 flex items-center">
    <%= form.label :to_people, "Pipeline to people?", class: "GenericFormLabel mr-2" %>
    <%= form.check_box :to_people, class: "CheckboxField" %>
  </div>

  <div class="Bottom-right">
    <%= link_to "Cancel", 'javascript:history.back()', class: "Bottom-right Btn-secondary" %>
    <%= form.submit class: "Btn-primary ml-2" %>
  </div>
<% end %>
