<div class="w-full">

  <% content_for :title, "Pipelines" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Pipelines</h1>
    <%= link_to "New pipeline", new_pipeline_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%= link_to "New Lead", selector_pipelines_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="pipelines" class="min-w-full">
    <% @pipelines.each do |pipeline| %>
      <%= pipeline.name %>
      <%= link_to "Edit this pipeline", edit_pipeline_path(pipeline), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Delete this pipeline", pipeline_path(pipeline), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% pipeline.leads.each do |lead| %>
            <tr>
              <td><%= lead.name %> </td>
              <td><%= lead.start_date %> </td>
              <td><%= lead.end_date %> </td>
              <td><%= link_to "Show this lead", pipeline_lead_path(pipeline,lead), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
