<%= form_with(model: [company,companynote], class: "contents") do |form| %>
  <% if companynote.errors.any? %>
    <div class="text-red-500 mb-1">
      <ol class="list-decimal list-inside">
        <% companynote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ol>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.text_area :note, rows: 4, class: "TextArea", placeholder:"Write a new note..." %>
  </div>

  <div class="Bottom-right mb-2">
    <%= link_to 'Cancel', 'javascript:history.back()', class: "Btn-secondary" %>
    <%= form.submit "Submit Company Note", class: "Btn-primary ml-2" %>
  </div>
<% end %>
