<%= form_with(model: [company,companynote], class: "contents") do |form| %>
  <% if companynote.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(companynote.errors.count, "error") %> prohibited this companynote from being saved:</h2>

      <ul>
        <% companynote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :note, class: "GenericFormLabel" %>
    <%= form.text_area :note, rows: 4, class: "TextArea" %>
  </div>

  <div class="Bottom-right">
    <%= form.submit class: "Btn-primary ml-2" %>
  </div>
<% end %>
