<%= form_with(model: [pipeline, lead, leadcontent], class: "contents") do |form| %>
  <% if leadcontent.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(leadcontent.errors.count, "error") %> prohibited this leadcontent from being saved:</h2>

      <ul>
        <% leadcontent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-4">
    <label class="GenericFormLabel">Value:</label>
    <%= form.text_field :value, class: "InputField", placeholder: "Insert Value..."  %>
  </div>

  <div class="Bottom-right mb-4">
    <%= link_to "Cancel", pipeline_lead_path(@pipeline, @lead), class: "Btn-secondary" %>
    <%= form.submit "Submit", class: "Btn-primary ml-2" %>
  </div>
<% end %>
