<h1>Create New User</h1>
<%= form_with model: @user, url: dashboard_users_path, local: true do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :organization_id, 'Organization' %>
    <%= form.collection_select :organization_id, @organizations, :id, :name, prompt: 'Select Organization' %>
  </div>

  <div>
    <%= form.label :role %>
    <%= form.select :role, @roles , { include_blank: "Select Role" } %>
  </div>

  <div>
    <%= form.submit 'Create User' %>
  </div>
<% end %>

<%= link_to 'Back to Dashboard', dashboard_path %>