<div id="<%= dom_id company %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= company.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Employers min:</strong>
    <%= company.employers_min %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Employers max:</strong>
    <%= company.employers_max %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= company.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url site:</strong>
    <%= company.url_site %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"> Linkedin link:</strong>
    <%= company.linkedin_link %>
  </p>
  
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= company.description %>
  </p>

</div>
