<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div class="text-red-500 mb-1">
      <ol class="list-decimal list-inside mt-2">
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ol>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "GenericFormLabel" %>
    <%= form.text_field :name, class: "InputField block mt-2 w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :employer_range, "Number of Employers", class: "GenericFormLabel" %>
    <%= form.select :employer_range, options_for_select([["0-10", "0-10"], ["10-50", "10-50"], ["50-250", "50-250"], ["250-1000", "250-1000"], ["1000-2500", "1000-2500"], ["2500-5000", "2500-5000"], ["5000-10000", "5000-10000"]], company.employers_min.to_s + "-" + company.employers_max.to_s), { prompt: "Select a range" }, class: "InputField block mt-2 w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :phone_number, class: "GenericFormLabel" %>
    <%= form.text_field :phone_number, class: "InputField block mt-2 w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :url_site, class: "GenericFormLabel" %>
    <%= form.text_field :url_site, class: "InputField block mt-2 w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "GenericFormLabel" %>
    <%= form.text_area :description, class: "TextArea h-40 block mt-2 w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :linkedin_link, class: "GenericFormLabel" %>
    <%= form.text_field :linkedin_link, class: "InputField block mt-2 w-full" %>
  </div>

  <div class="Bottom-right">
    <%= link_to "Cancel", 'javascript:history.back()', class: "Bottom-right Btn-secondary" %>
    <%= form.submit class: "Btn-primary ml-2" %>
  </div>
<% end %>
