<div class="flex items-center justify-center min-h-screen">
  <div class="Container w-full max-w-5xl px-8 mx-auto mt-16">

    <div class="HeaderContainer mb-8">
      <h1 class="ContainerHeaderText">Companies</h1>
    </div>

    <div id="companies" class="overflow-x-auto mb-4">
      <table class="min-w-full bg-white shadow-md rounded-lg border border-gray-200">
        <thead>
          <tr>
            <th class="TableHeader border-r border-gray-200"> Name </th>
            <th class="TableHeader border-r border-gray-200"> Range </th>
            <th class="TableHeader border-r border-gray-200"> Phone Number </th>
            <th class="TableHeader border-r border-gray-200"> Website </th>
            <th class="TableHeader border-r border-gray-200"> Main Contacts </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <% @companies.each do |company| %>
            <tr class="hover:bg-gray-100">
              <td class="TableEntry border-r border-gray-200">
                <strong><%= link_to company.name, company, class: "hover:underline" %></strong>
              </td>
              <td class="TableEntry border-r border-gray-200"><%= company.employers_max %> - <%= company.employers_min %></td>
              <td class="TableEntry border-r border-gray-200"><%= company.phone_number %></td>
              <td class="TableEntry border-r border-gray-200 text-blue-400 underline">
                <%= link_to company.url_site, company.url_site, target: "_blank", rel: "noopener" %>
              </td>
              <td class="TableEntry border-r border-gray-200">
                <%= company.personcompanies
                .select { |pc| pc.is_my_contact && (!pc.person.is_private || pc.person.user == current_user) }
                .map { |pc| link_to(pc.person.name, pc.person) }
                .join(', ')
                .html_safe %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="Bottom-right">
      <%= link_to "New company", new_company_path, class: "Btn-primary" %>
    </div>
  </div>
</div>
