<div class="flex justify-between items-center mb-4">
  <%= link_to "Previous Year", params.permit(:start_date, calendar_ids: []).merge(start_date: @start_date.prev_year), class: "text-blue-500 hover:underline" %>
  <%= link_to "Previous", params.permit(:start_date, calendar_ids: []).merge(start_date: @start_date.prev_month), class: "text-blue-500 hover:underline" %>
  <div class="text-lg font-bold text-gray-700">
    <%= @start_date.strftime("%B %Y") %>
  </div>
  <%= link_to "Next", params.permit(:start_date, calendar_ids: []).merge(start_date: @start_date.next_month), class: "text-blue-500 hover:underline" %>
  <%= link_to "Next Year", params.permit(:start_date, calendar_ids: []).merge(start_date: @start_date.next_year), class: "text-blue-500 hover:underline" %>
</div>

<div class="flex">
  <div id="calendar-div" class="w-3/4">
    <%= month_calendar(events: @posts, attribute: :publish_date, previous_label: nil, next_label: nil) do |date, posts| %>
      <div class="droppable border p-2 relative calendar-box" data-date="<%= date %>">
        <div class="date text-sm font-bold text-gray-700">
          <%= date.day %> +
          <div class="menu hidden absolute left-0 border bg-white border-gray-300 shadow-md rounded-md max-h-32 overflow-y-auto">
            <ul>
              <% @calendars.each do |calendar| %>
                <li>
                  <%= link_to calendar.name, new_calendar_post_path(calendar,date:date), class: "block block px-4 py-2 text-gray-700 hover:bg-yellow-400" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="posts-container overflow-y-auto">
          <% posts.each do |post| %>
            <%= link_to post.title, calendar_post_path(post.calendar, post), class: "Btn-primary mt-2 bg-blue-500 draggable", data: { post_id: post.id, calendar_id: post.calendar.id }  %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="p-4 w-1/4 ">
    <div id="post-info" class="Container text-gray-600">
      <div id="no-info">
        <span> Select a Post</span>
      </div>
      <div id="have-info" class="hidden">
        <div>
          <div class="grid grid-cols-2 mb-4 gap-0.5">
            <%= link_to "", id:"attachments_1", class:"hidden", target: :_black do %> 
              <%= image_tag "", id:"img_1", class: "rounded-lg w-full h-36 object-cover" %>
            <% end %>
            <%= link_to "", id:"attachments_2", class: "hidden", target: :_black do %> 
              <%= image_tag "", id:"img_2", class: "rounded-lg w-full h-36 object-cover" %>
            <% end %>
            <%= link_to "", id:"attachments_3", class:"hidden", target: :_black do %> 
              <%= image_tag "", id:"img_3", class: "rounded-lg w-full h-36 object-cover" %>
            <% end %>
            <%= link_to "", id:"attachments_4", class:"hidden", target: :_black do %> 
              <%= image_tag "", id:"img_4", class: "rounded-lg w-full h-36 object-cover" %>
            <% end %>
          </div>
          <div class="Bottom-right">
            <button class="Btn-primary hidden mb-4" id="more-photos" >See More Photos</button>
          </div>
        </div>
        <div>
          <strong>Publish Date</strong>
          <span id="publish_date"></span>
        </div>
        <div>
          <strong>Calendar</strong>
          <span id="calendar"></span>
        </div>
        <div>
          <strong>Author</strong>
          <span id="author"></span>
        </div>
        <div>
          <strong>Status</strong>
          <span id="status"></span>
        </div>
        <div>
          <strong>Design Idea</strong>
          <span id="design_idea"></span>
        </div>
        <div>
          <strong>Copy</strong>
          <span id="copy"></span>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center z-50 ">
    <div class="modal-content Container text-gray-900">
      <button class="close-btn text-2xl absolute top-0 right-0 p-4 cursor-pointe">&times;</button>
      <h2 class="text-2xl font-semibold mb-4">All Photos</h2>
      <div class="grid grid-cols-3 gap-4 overflow-y-auto max-h-96" id="photos-display">
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    function build_axios() {
      axios.defaults.withCredentials = true;
      const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      axios.defaults.headers.common['X-CSRF-Token'] = csrfToken;
    }

    $(".draggable").draggable({
      cursor: "move",
      revert: "invalid",
      helper: 'clone'
    });
    function reset_element(draggedElement) {
      draggedElement.removeClass("ui-draggable-handle");
      draggedElement.removeClass("ui-draggable");
      draggedElement.removeAttr("style")
      draggedElement.css("position","relative")
    }
    $(".droppable").droppable({
      accept: ".draggable",
      drop: function(event, ui) {
        const draggedElement = ui.draggable;
        const postId = draggedElement.data("post-id");
        const calendarId = draggedElement.data("calendar-id");
        const newDate = $(this).data("date");
        const url = `/calendars/${calendarId}/posts/${postId}/update_day?date=${newDate}`;
        build_axios()
        axios.patch(url)
        .then((response) => {
          draggedElement.detach();
          reset_element(draggedElement)
          $(this).find(".posts-container").append(draggedElement);
        })
        .catch((error) => {
          reset_element(draggedElement)
        })
      }
    });
    $(".date").hover(
      function() {
        $(this).find(".menu").removeClass("hidden"); // Show the menu
      },
      function() {
        $(this).find(".menu").addClass("hidden"); // Hide the menu
      }
    );
    var array_attachments = []
    function fill_post_info() {
      const postId = $(this).data("post-id");
      const calendarId = $(this).data("calendar-id");
      const url = `/calendars/${calendarId}/posts/${postId}/json`
      clear_post_info()
      $('#no-info').text('...');
      build_axios()
      axios.get(url)
      .then(response => {
        data = response.data.post
        $('#design_idea').text(data.design_idea);
        $('#calendar').text(data.calendar);
        $('#author').text(data.author);
        $('#status').text(data.status);
        $('#copy').text(data.perspective_default_copy);
        $('#publish_date').text(data.publish_date);
        $('#no-info').addClass('hidden');
        $('#have-info').removeClass('hidden');
        console.log(data.attachments.length)
        array_attachments = data.attachments
        if(data.attachments.length > 0){
          console.log($('#attachments_1'))
          $('#attachments_1').attr("href",data.attachments[0].content_url);
          $('#attachments_1').find('#img_1').attr("src",data.attachments[0].content_url);
          $('#attachments_1').removeClass('hidden');
          if(data.attachments.length > 1){
            $('#attachments_2').attr("href",data.attachments[1].content_url);
            $('#attachments_2').find('#img_2').attr("src",data.attachments[1].content_url);
            $('#attachments_2').removeClass('hidden');
            if(data.attachments.length > 2){
              $('#attachments_3').attr("href",data.attachments[2].content_url);
              $('#attachments_3').find('#img_3').attr("src",data.attachments[2].content_url);
              $('#attachments_3').removeClass('hidden');
              if(data.attachments.length > 3) {
                $('#attachments_4').attr("href",data.attachments[3].content_url);
                $('#attachments_4').find('#img_4').attr("src",data.attachments[3].content_url);
                $('#attachments_4').removeClass('hidden');
                if(data.attachments.length > 4) {
                  $('#more-photos').removeClass('hidden');
                }
              }
            }
          }
        }
      })
      .catch(err => {
        $('#no-info').text('Error');
      })
    }

    function clear_post_info() {
      $('#design_idea').text('');
      $('#calendar').text('');
      $('#author').text('');
      $('#status').text('');
      $('#copy').text('');
      $('#publish_date').text('');
      $('#no-info').text('Select a Post');
      $('#no-info').removeClass('hidden');
      $('#have-info').addClass('hidden');
      $('#attachments_1').attr("href","");
      $('#attachments_2').attr("href","");
      $('#attachments_3').attr("href","");
      $('#attachments_4').attr("href","");
      $('#attachments_1').find("#img1").attr("str","");
      $('#attachments_2').find("#img2").attr("str","");
      $('#attachments_3').find("#img3").attr("str","");
      $('#attachments_4').find("#img4").attr("str","");
      $('#attachments_1').addClass('hidden');
      $('#attachments_2').addClass('hidden');
      $('#attachments_3').addClass('hidden');
      $('#attachments_4').addClass('hidden');
      $('#more-photos').addClass('hidden');
    }

    $('.draggable').hover(fill_post_info, () => {})
    $('#more-photos').on('click', function() {
      $('#myModal').removeClass('hidden').addClass('flex');
      $('#photos-display').empty();
      array_attachments.map((a) => a.content_url).forEach(function(imageSrc) {
        var imgElement = $('<img>').attr('src', imageSrc).addClass('w-full h-36 object-cover rounded-lg mb-4');
        $('#photos-display').append(imgElement);
      });
    });

    // When the user clicks the close button (×), hide the modal
    $('.close-btn').on('click', function() {
      $('#myModal').removeClass('flex').addClass('hidden');
    });

    // When the user clicks outside the modal content, hide the modal
    $(window).on('click', function(event) {
      if ($(event.target).is('#myModal')) {
        $('#myModal').removeClass('flex').addClass('hidden');
      }
    });
  })
</script>