
<% if calendars.any? %>
  <div id="posts">
    <h1>Posts</h1>
    <%= link_to "New post", selector_calendars_path %>
    <% calendars.each do |calendar| %>
      <div id=<%= "posts_calendar_" + calendar.id.to_s %>>
        <h2>Calendar <%= calendar.name %></h2>
        <% if calendar.posts.any? %>
          <div id=<%= "posts_calendar_" + calendar.id.to_s + "_info" %>>
            <table>
              <thead>
                <tr>
                  <th>Post Title</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% calendar.posts.each do |post| %>
                  <tr>
                    <td><%= post.title %></td>
                    <td><%= link_to "View Post", calendar_post_path(calendar, post) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <p>No posts available for this calendar.</p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>