<div class="ml-4 w-1/4">
  <div id="post-info" class="Container text-gray-600 h-full">
    <div id="no-info">
      <span> Hover a Post</span>
    </div>
    <div id="have-info" class="hidden">
      <div>
        <div class="grid grid-cols-2 mb-4 gap-0.5">
          <%= link_to "", id:"attachments_1", class:"hidden", target: :_black do %> 
            <%= image_tag "", id:"img_1", class: "rounded-lg w-full h-36 object-cover" %>
          <% end %>
          <%= link_to "", id:"attachments_2", class: "hidden", target: :_black do %> 
            <%= image_tag "", id:"img_2", class: "rounded-lg w-full h-36 object-cover" %>
          <% end %>
          <%= link_to "", id:"attachments_3", class:"hidden", target: :_black do %> 
            <%= image_tag "", id:"img_3", class: "rounded-lg w-full h-36 object-cover" %>
          <% end %>
          <%= link_to "", id:"attachments_4", class:"hidden", target: :_black do %> 
            <%= image_tag "", id:"img_4", class: "rounded-lg w-full h-36 object-cover" %>
          <% end %>
        </div>
        <div class="Bottom-right">
          <button class="Btn-primary hidden mb-4" id="more-photos" >See More Photos</button>
        </div>
        <div class="overflow-y-auto relative">
          <table class="min-w-full bg-white shadow-md rounded-lg border border-gray-200">
            <tbody class="bg-white divide-y divide-gray-200">
              <tr class="hover:bg-gray-100">
                <th class="TableHeader border-r border-gray-200">Social Media</th>
                <td class="TableEntry2 border-r border-gray-200">
                  <div class="flex">
                    <div class="flex" id="social_platforms">
                      <%= image_tag "platforms/facebook.svg", class: "hidden w-6 h-6", id: "facebook", alt: "facebook" %>
                      <%= image_tag "platforms/instagram.svg",class: "hidden w-6 h-6", id: "instagram", alt: "instagram" %>
                      <%= image_tag "platforms/x.svg",        class: "hidden w-6 h-6", id: "x", alt: "x" %>
                      <%= image_tag "platforms/linkedin.svg", class: "hidden w-6 h-6", id: "linkedin", alt: "linkedin" %>
                      <%= image_tag "platforms/telegram.svg", class: "hidden w-6 h-6", id: "telegram", alt: "telegram" %>
                    </div>
                    <div class="ml-auto" id="status"></div>
                  </div>
                </td>
              </tr>
              <tr class="hover:bg-gray-100">
                <th class="TableHeader border-r border-gray-200">Time</th>
                <td class="TableEntry2 border-r border-gray-200" id="publish_date"></td>
              </tr>
              <tr class="hover:bg-gray-100">
                <th class="TableHeader border-r border-gray-200">Calendar</th>
                <td class="TableEntry2 border-r border-gray-200" id="calendar"></td>
              </tr>
              <tr class="hover:bg-gray-100">
                <th class="TableHeader border-r border-gray-200">Author</th>
                <td class="TableEntry2 border-r border-gray-200" id="author"></td>
              </tr>
              <tr class="hover:bg-gray-100">
                <th class="TableHeader border-r border-gray-200">Design Idea</th>
                <td class="TableEntry2 border-r border-gray-200" id="design_idea"></td>
              </tr>
              <tr class="hover:bg-gray-100">
                <th class="TableHeader border-r border-gray-200">Copy</th>
                <td class="TableEntry2 border-r border-gray-200"id="copy"></td>
              </tr>
            </tbody>
          </table>
        </div>       
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.draggable').hover(fill_post_info, () => {})
    function build_axios() {
      axios.defaults.withCredentials = true;
      const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      axios.defaults.headers.common['X-CSRF-Token'] = csrfToken;
    }
    var array_attachments = []
    function show_photos(attachments) {
      for(var num = 0; num < 5 && num < attachments.length; num ++){
        $('#attachments_' + num).attr("href",attachments[num].content_url);
        $('#attachments_' + num).find('#img_' + num).attr("src",attachments[num].content_url);
        $('#attachments_' + num).removeClass('hidden');
      }
      if(attachments.length > 4) {
        $('#more-photos').removeClass('hidden');
      }
    }

    const status_to_icon = {
      "approved": "🟢",
      "in_analysis": "🟡",
      "rejected": "🔴"
    }

    function fill_info(data) {
      $('#design_idea').text(data.design_idea);
      $('#calendar').text(data.calendar);
      $('#author').text(data.author);
      $('#status').text(status_to_icon[data.status]);
      $('#copy').text(data.perspective_default_copy);
      $('#publish_date').text(data.publish_date);
      data.socialplatforms.map(sp => sp.name).forEach((src) => $(`#${src}`).removeClass("hidden"));
      $('#no-info').addClass('hidden');
      $('#have-info').removeClass('hidden');
      array_attachments = data.attachments
      show_photos(data.attachments)
    }

    function fill_post_info() {
      const postId = $(this).data("post-id");
      const calendarId = $(this).data("calendar-id");
      const url = `/calendars/${calendarId}/posts/${postId}/json`
      clear_post_info()
      $('#no-info').text('Loading');
      build_axios()
      axios.get(url)
      .then(response => response.data.post)
      .then(data => fill_info(data))
      .catch(err => {
        $('#no-info').text('Error');
      })
    }

    function clear_post_info() {
      $('#social_platforms').children().addClass('hidden');
      ["#design_idea", "#calendar", "#author", "#status", "#copy", "#publish_date"].forEach(id => $(id).text(''));
      $('#no-info').text('Hover a Post');
      $('#no-info').removeClass('hidden');
      $('#have-info').addClass('hidden');
      [1,2,3,4].forEach(id => $("#attachments_" + id).attr("href",""));
      [1,2,3,4].forEach(id => $("#attachments_" + id).find("#img_"+id).attr("str",""));
      [1,2,3,4].forEach(id => $("#attachments_" + id).addClass('hidden'));
      $('#more-photos').addClass('hidden');
    }

    $('#more-photos').on('click', function() {
      $('#myModal').removeClass('hidden').addClass('flex');
      $('#photos-display').empty();
      array_attachments.map((a) => a.content_url).forEach(function(imageSrc) {
        var imgElement = $('<img>').attr('src', imageSrc).addClass('w-full h-36 object-cover rounded-lg mb-4');
        $('#photos-display').append(imgElement);
      });
    });
  })
</script>