<p style="color: green"><%= notice %></p>

<% content_for :title, "Calendars" %>


<div id="calendars">
  <h1>Calendars</h1>
  <%= render "form", calendar: Calendar.new %>
  <div id="calendars">
    <% @calendars.each do |calendar| %>
        <%= render calendar %>
    <% end %>
  </div>
</div>

<% if @calendars.any? %>
  <div id="posts">
    <h1>Posts</h1>
    <% @calendars.each do |calendar| %>
      <div id=<%= "posts_calendar_" + calendar.id.to_s %>>
        <h2><%= calendar.name %></h2>
        <% calendar.posts.each do |post| %>
          <%= render post, calendar: calendar %>
        <% end %>
        <%= link_to "New post for calendar " + calendar.name, new_calendar_post_path(calendar), calendar: calendar, post: Post.new %>
      </div>
    <% end %>
  </div>
<% end %>

