<div id="calendars_page">
  <% content_for :title, "Calendars" %>
  <%= render "calendars", calendars: @calendars %>
  <%= render "posts", calendars: @calendars %>
</div>

<div class="container">
  <%= month_calendar(events: @posts, attribute: :publish_date) do |date, post| %>
    <div class="day">
      <%= date.day %>
    </div>
    <% post.each do |post| %>
      <div class="card-header">
        <div class="card-title">
          <%= link_to post.title, calendar_post_path(post.calendar, post) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>