<div id="notes">
  <h2 class="ContainerHeaderText">Notes</h2>
  <%= render "personnotes/form", person: @person, personnote: @new_person_note %>

  <% @person.personnotes.select{|n| n.id.present?}.each do |note| %>
    <div id="note-<%= note.id %>" class="mb-4" data-type="<%= note[:type] %>">
      <div class="flex items-center"> 
        <p class="GenericFormLabel">
          <strong>From: <%= note.user.email %></strong>
        </p>
        <p class="flex-grow"></p>
        <p class="SmallText text-right pr-4"><%= time_ago_in_words(note.created_at) %> ago</p>
      </div>

      <div class="Comment mt-2 pl-4">
        <% note.note.split("\n").each do |line| %>
          <p><%= line %></p>
        <% end %>
      </div>
      <div class="Bottom-right mt-3">
        <%= link_to "Edit", edit_person_personnote_path(@person, note), class: "Btn-secondary mr-2" %>
        <%= link_to "Delete", person_personnote_path(@person, note), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "Btn-delete" %>
      </div>
    </div>
  <% end %>
</div>
