<div id="attachments_info">
  <%= render "attachments/form", calendar: @calendar, post: @post, perspective: @perspective, attachment: Attachment.new %>
  <% @perspective.attachments.each do |attachment| %>
    <% if attachment.id.present? %>
      <div id="<%= dom_id(attachment) %>_info" class="attachment">
        <%= render attachment %>
        
        <!-- Status Update Buttons -->
        <div class="status-buttons">
          <%= button_to "Approve", approved_calendar_post_perspective_attachment_path(@calendar, @post, @perspective, attachment), method: :patch, class: "button" %>
          <%= button_to "In Analysis", in_analysis_calendar_post_perspective_attachment_path(@calendar, @post, @perspective, attachment), method: :patch, class: "button" %>
          <%= button_to "Reject", rejected_calendar_post_perspective_attachment_path(@calendar, @post, @perspective, attachment), method: :patch, class: "button" %>
        </div>

        <div id="<%= dom_id(attachment) %>_actions" class="attachment-actions">
          <%= link_to attachment.attachmentcounters.where(aproved: true).count.to_s + " likes", like_calendar_post_perspective_attachment_path(@calendar, @post, @perspective, attachment), data: {turbo_method: :post } %>
          <%= link_to attachment.attachmentcounters.where(rejected: true).count.to_s + " dislikes", dislike_calendar_post_perspective_attachment_path(@calendar, @post, @perspective, attachment), data: {turbo_method: :post } %>
          <%= link_to "Download", download_calendar_post_perspective_attachment_path(@calendar, @post, @perspective, attachment), class: "button" %> |
          <%= link_to "Delete attachment", calendar_post_perspective_attachment_path(@calendar, @post, @perspective, attachment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

