
<div id="attachments">
<h2>Attachments</h2>

  <%= render "attachments/form",  %>
  
  <% @post.attachment.each do |attachment| %>
    <% if attachment.id.present? %>
      <%= render attachment%>
      <div>
        <%= link_to "Edit attachment", edit_calendar_post_comment_path() %> |
        <%= link_to "Download", download_attachment_path(attachment), class: "button" %> |
        <%= link_to "Delete attachment", calendar_post_comment_path(), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    <% end %>
  <% end %>
</div>

