<%= form_with(model: [calendar, post, perspective], local: true) do |form| %>
  <% if perspective.errors.any? %>
    <div class="text-red-500">
      <h2><%= pluralize(perspective.errors.count, "error") %> prohibited this perspective from being saved:</h2>
      <ul>
        <% perspective.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-4">
    <%= form.label :copy, "Copy", class: "GenericFormLabel" %>
    <%= form.text_area :copy, class: "TextArea h-40" %>
  </div>
  <div class="mb-4">
    <%= form.label :socialplatform_id, "Social Platform", class: "GenericFormLabel" %>
    <%= form.select :socialplatform_id, options_for_select(Socialplatform.all.map { |sp| [sp.name, sp.id] }), { prompt: ' ' }, class: "InputField" %>
  </div>
  <div class="Bottom-right">
    <%= link_to 'Cancel', 'javascript:history.back()', class: "Btn-secondary" %>
    <%= form.submit "Save", class: "Btn-primary ml-2" %>
  </div>
<% end %>

