<div id="form_perspective">
  <%= form_with(model: [calendar, post, perspective ], local: true) do |form|%>
    <% if perspective.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(perspective.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% perspective.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  New Perspectives
  <div>
    <%= form.label :copy, "Copy", style: "display: block" %>
    <%= form.text_area :copy %>
  </div>
  <div>
    <%= form.label :socialplatform_id, "Social Platform" %>
    <%= form.select :socialplatform_id, Socialplatform.all.collect { |sp| [sp.name, sp.id] }, include_blank: true %>
  </div>
  <%= form.submit %>
  <% end %>
</div>


