<div id="<%= dom_id(perspective) %>" class="text-gray-900">
  <div class="flex justify-between mt-2 mb-4">
    <div class="flex items-center space-x-4">
      <span class="font-medium text-sm">Publish Date:</span>
      <span><%= post.publish_date.strftime("%B %d, %Y %I:%M %p") %></span>
    </div>
    <div class="flex items-center space-x-4">
      <%= form_with url: update_status_post_calendar_post_perspective_path(@calendar, post, perspective), method: :patch, local: true, id: "status-form-#{dom_id(post)}" do %>
        <label class="font-medium text-sm mr-2">Post Status:</label>
        <select name="post[status]" id="selector_<%= dom_id(post) %>" class="InputField text-sm" onchange="this.form.submit()">
          <option value="approved" class="text-green-600" <% if post.status == "approved" %> selected <% end %>>Approved</option>
          <option value="in_analysis" class="text-yellow-600" <% if post.status == "in_analysis" %> selected <% end %>>In Analysis</option>
          <option value="rejected" class="text-red-600" <% if post.status == "rejected" %> selected <% end %>>Rejected</option>
        </select>
      <% end %>
      <%= form_with url: update_status_calendar_post_perspective_path(@calendar, @post, perspective), method: :patch, local: true, id: "status-form-#{dom_id(perspective)}" do %>
        <label class="font-medium text-sm mr-2">Perspective Status:</label>
        <select name="perspective[status]" id="selector_<%= dom_id(perspective) %>" class="InputField text-sm" onchange="this.form.submit()">
          <option value="approved" class="text-green-600" <% if perspective.status == "approved" %> selected <% end %>>Approved</option>
          <option value="in_analysis" class="text-yellow-600" <% if perspective.status == "in_analysis" %> selected <% end %>>In Analysis</option>
          <option value="rejected" class="text-red-600" <% if perspective.status == "rejected" %> selected <% end %>>Rejected</option>
        </select>
      <% end %>
    </div>
    <div class="flex items-center space-x-4 text-sm">
      <span class="ml-1"><%= post.calendar.name %></span>
      <p class="font-medium ml-2">Creator:</p>
      <span class="ml-1"><%= post.user.email %></span>
    </div>
  </div>
    <div class="flex gap-4 mt-4 mb-4">
    <div class="w-1/3">
      <label class="GenericFormLabel">Social Media:</label>
      <div class="TextArea bg-white p-4 border border-gray-300 rounded-md overflow-y-auto h-40">
        <table class="w-full table-fixed">
          <thead>
            <tr>
              <th class="text-left">Platform</th>
              <th class="text-right">Status</th>
            </tr>
          </thead>
          <tbody>
            <% @post.perspectives.each do |p| %>
              <tr>
                <td class="py-2">
                  <% if p.socialplatform.present? %>
                    <%= p.socialplatform.name %>
                  <% else %>
                    Default Perspective
                  <% end %>
                </td>
                <td class="py-2 text-right">
                  <span class="inline-block w-4 h-4 rounded" style="<%= case p.status when 'approved' then 'background-color: green;' when 'in_analysis' then 'background-color: yellow;' when 'rejected' then 'background-color: red;' else 'background-color: gray;' end %>"></span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="w-2/3">
      <div class="mb-4">
        <label class="GenericFormLabel">Copy:</label>
        <div class="TextArea h-40 bg-white p-4 border border-gray-300 rounded-md overflow-y-auto">
          <%= perspective.copy %>
        </div>
      </div>
    </div>
  </div>
</div>