<div id="<%= dom_id(perspective) %>" class="text-gray-900">
  <div class="flex flex-col md:flex-row gap-4 mt-4 mb-4">
    <div class="w-full md:w-1/3">
      <label class="GenericFormLabel">Social Media:</label>
      <div class="pt-2 border-0 border-gray-300 overflow-y-auto h-40">
        <table class="min-w-full bg-white shadow-md rounded-lg border border-gray-200">
          <thead>
            <tr>
              <th class="TableHeader border-r border-gray-200">Platform</th>
              <th class="TableHeader">Status</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <% @post.perspectives.each do |p| %>
              <tr class="hover:bg-gray-100">
                <td class="TableEntry border-r border-gray-200">
                  <% if p.socialplatform.present? %>
                    <strong><%= p.socialplatform.name %></strong>
                  <% else %>
                    <strong>Default Perspective</strong>
                  <% end %>
                </td>
                <td class="TableEntry">
                  <%= case p.status
                    when 'approved' then "<span class='text-green-600 font-semibold'>Approved</span>".html_safe
                    when 'in_analysis' then "<span class='text-yellow-600 font-semibold'>In Analysis</span>".html_safe
                    when 'rejected' then "<span class='text-red-600 font-semibold'>Rejected</span>".html_safe
                    else "<span class='text-gray-600 font-semibold'>Unknown</span>".html_safe
                  end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="w-full md:w-2/3">
      <label class="GenericFormLabel">Copy:</label>
      <div class="TextArea h-40 bg-white p-4 rounded-md overflow-y-auto relative">
        <%= perspective.copy %>
        <div class="absolute top-2 right-2 flex items-center">
          <button id="copy-button" class="relative p-2 hover:bg-gray-100 rounded transition-all duration-200 ease-in-out" data-copy-text="<%= perspective.copy %>">
            <img src="<%= asset_path('copy.svg') %>" alt="Copy" class="w-4 h-4"/>
          </button>
          <span id="copy-message" class="mr-2 text-green-600 bg-gray-100 px-2 py-1 rounded-md text-xs absolute font-bold right-full top-2 invisible">Copied!</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#copy-button').on('click', function() {
      console.log('boas')
      var copyText = $(this).data('copy-text');
      
      var tempInput = $('<input>');
      $('body').append(tempInput);
      tempInput.val(copyText).select();
      document.execCommand('copy');
      tempInput.remove();

      $('#copy-message').removeClass('invisible');
      setTimeout(function() {
        $('#copy-message').addClass('invisible');
      }, 1000);
    });
  });
</script>
