<div id="post_perspective">
  <div id="form_post" class="Container w-full mx-auto mt-16">
  
  <div class="HeaderContainer mb-8">
    <h2 class="ContainerHeaderText"><%= @post.title %></h2>
    </div>
  
  <div id="perspective_info"> 
    <%= render @perspective %>
    <%= render "actions", perspective: @perspective %>
  </div>

  <hr />
  
  <div id="post_info">
    <h1>Post Information</h1>
    <%= render @post %>
    <%= render "posts/actions"%> 
    <%= render "posts/perspectives/perspectives"%> 
  
  </div>
  
  <hr />
  
  <div id="attachments">
    <%= render "perspectives/attachments/attachments"%> 
  </div>
  
  <hr />
  
  <div id="comments">
    <%= render "posts/comments/comments", calendar: @calendar, post: @post, comment_new: @comment_new%> 
  
  </div>
</div>
</div>