<div id="post">
  <p style="color: green"><%= notice %></p> 
  <div id="perspective"> 
    <%= render @perspective %>
    <%= render "actions", perspective: @perspective %>
  </div>
  <hr />
  <div id="post">
    <h1>Post Information</h1>
    <%= render @post %>
    <%= render "posts/actions"%> 
    <%= render "posts/perspectives/perspectives"%> 
  </div>
  <hr />
  <div id="attachments">
    <%= render "perspectives/attachments/attachments"%> 
  </div>
  <hr />
  <div id="comments">
    <%= render "posts/comments/comments", calendar: @calendar, post: @post, comment_new: @comment_new%> 
  </div>
</div>