<% if @people.any? %>
  <%= form_with(url: create_by_company_personcompanies_path(company),model: personcompany, class: "contents") do |form| %>
    <div class="my-5">
      <%= form.label :person_id %>
      <%= form.select :person_id, options_for_select(@people.map { |p| [p[:name], p[:id]] }), { prompt: 'Person' } %>
    </div>


    <div class="my-5">
      <%= form.label :is_working %>
      <%= form.check_box :is_working, class: "block mt-2 h-5 w-5" %>
    </div>

    <div class="my-5">
        <%= form.label :is_my_contact %>
        <%= form.check_box :is_my_contact, class: "block mt-2 h-5 w-5" %>
    </div>

    <div class="inline">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
<% end %>
