<% if @people.any? %>
  <%= form_with(url: create_by_company_personcompanies_path(company),model: personcompany, class: "contents") do |form| %>
    <div class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-5">
      <div class="mb-4">
        <%= form.label :person_id, class: "GenericFormLabel" %>
        <%= form.select :person_id, options_for_select(@people.map { |p| [p[:name], p[:id]] }), { prompt: 'Person' }, class: "InputField border-0" %>
      </div>

      <div class="ml-6 mt-1 flex items-center space-x-2">
        <%= form.label :is_working, class: "GenericFormLabel" %>
        <%= form.check_box :is_working, class: "h-5 w-5" %>
      </div>

      <div class="mt-1 flex items-center space-x-2">
        <%= form.label :is_my_contact, class: "GenericFormLabel" %>
        <%= form.check_box :is_my_contact, class: "h-5 w-5" %>
      </div>
    </div>
    <div class="Bottom-right">
      <%= form.submit class: "Btn-primary ml-2" %>
    </div>
  <% end %>
<% end %>
