<% if @companies.any? %>
  <%= form_with(url: create_by_person_personcompanies_path(person), model: personcompany, class: "contents") do |form| %>
    <div class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-5">
      <div class="mb-4">
        <%= form.label "Select a company to add to the person:", class: "GenericFormLabel" %>
        <%= form.select :company_id, options_for_select(@companies.map { |c| [c[:name], c[:id]] }), { prompt: 'Company' }, class: "InputField border-0" %>
      </div>

      <div class="ml-6 mt-1 flex items-center space-x-2">
        <%= form.label "Is currently in the company", class: "GenericFormLabel" %>
        <%= form.check_box :is_working, class: "h-5 w-5" %>
      </div>

      <div class="mt-1 flex items-center space-x-2">
        <%= form.label :is_my_contact, class: "GenericFormLabel" %>
        <%= form.check_box :is_my_contact, class: "h-5 w-5" %>
      </div>
    </div>
    <div class="Bottom-right mb-4">
      <%= form.submit "Add Company to Person", class: "Btn-primary ml-2" %>
    </div>
  <% end %>
<% end %>