<div id='<%= dom_id(@post) %>_actions'>
  <%= link_to "Edit Post", edit_calendar_post_path(@calendar, @post) %> |
  <%= link_to "Delete Post", calendar_post_path(@calendar, @post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> |
  <%= link_to "Approve", approved_calendar_post_path(@calendar, @post), data: { turbo_method: :patch }%> |
  <%= link_to "In Analysis", in_analysis_calendar_post_path(@calendar, @post), data: { turbo_method: :patch }%> |
  <%= link_to "Reject", rejected_calendar_post_path(@calendar, @post), data: { turbo_method: :patch } %>
</div>