<div>
  <%= form.label :user_id, "User" %>
  <%= form.collection_select :user_id, User.all, :id, :email %>
</div>

<div>
  <%= form.label :aproved, "Approved" %>
  <%= form.check_box :aproved %>
</div>

<div>
  <%= form.label :rejected, "Rejected" %>
  <%= form.check_box :rejected %>
</div>

