<div>
  <%= form.label :filename, "File Name" %>
  <%= form.text_field :filename %>
</div>

<div>
  <%= form.label :content, "File Content" %>
  <%= form.file_field :content %>
</div>

<div>
  <%= form.label :status, "Status" %>
  <%= form.select :status, ['active', 'inactive', 'archived'], include_blank: true %>
</div>

