<div id="form_post", class="Container mx-auto w-10/12 justify-center">
  <%= form_with(model: [calendar, post], local: true) do |form| %>
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Date and Time selection -->
    <div class="mb-4">
      <%= form.label :publish_date, "Publish Date & Time", class: "PostLabel" %>
      <%= form.datetime_field :publish_date, value: Time.current.strftime('%Y-%m-%d %H:%M'), class: "PostInputField" %>
      <small class="PostFormSmallText">Select a date and time for the post.</small>
    </div>

    <!-- Title input -->
    <div class="mb-4">
      <%= form.label :title, "Title", class: "PostLabel" %>
      <%= form.text_field :title, class: "PostInputField", placeholder: "Title" %>
    </div>
    
    <!-- Design Idea input -->
    <div class="mb-4">
      <%= form.label :design_idea, "Design Idea", class: "PostLabel" %>
      <%= form.text_area :design_idea, class: "PostTextArea PostTextAreaLarge", placeholder: "Describe everything about this post here" %>
    </div>

    <% if is_new %>
      <!-- Nested form for perspectives -->
      <%= form.fields_for :perspectives do |perspective_form| %>
        <%= render partial: "posts/perspectives/formperspective", locals: { form: perspective_form } %>
      <% end %>
    <% end %>

    <!-- Categories input -->
    <div class="mb-4">
      <%= form.label :categories, "Categories", class: "PostLabel" %>
      <%= form.text_area :categories, class: "PostTextArea PostTextAreaMedium", placeholder: "Enter categories separated by commas...", value: post.categories.join(", ") %>
    </div>

    <!-- Form buttons -->
    <div class="Bottom-right">
      <%= link_to 'Cancel', 'javascript:history.back()', class: "Btn-secondary" %>
      <%= form.submit "Save", class: "Btn-primary ml-2" %>
    </div>  
  <% end %>
</div>



