<div id="form_post">
  <%= form_with(model: [calendar, post], local: true) do |form| %>
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>
    
    <div>
      <%= form.label :design_idea, style: "display: block" %>
      <%= form.text_area :design_idea %>
    </div>

    <div>
      <%= form.label :publish_date, style: "display: block" %>
      <%= form.datetime_field :publish_date %>
    </div>

    <% if is_new %>
      <!-- Nested form for perspectives -->
      <h3>Default Perspective</h3>
      <%= form.fields_for :perspectives do |perspective_form| %>
        <%= render partial: "formperspective", locals: { form: perspective_form } %>
      <% end %>
    <% end %>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>



