<%= form_with(model: [calendar, post], local: true) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  
  <div>
    <%= form.label :design_idea, style: "display: block" %>
    <%= form.text_area :design_idea %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, options_for_select([['Approved', 'approved'], ['In Analysis', 'in_analysis'], ['Rejected', 'rejected']]) %>
  </div>

  <div>
    <%= form.label :publish_date, style: "display: block" %>
    <%= form.datetime_field :publish_date %>
  </div>

  <!-- Nested form for perspectives -->
  <h3>Perspectives</h3>
  <%= form.fields_for :perspectives do |perspective_form| %>
    <%= render partial: "formperspective", locals: { form: perspective_form } %>

    <!-- Nested form for attachments -->
    <h4>Attachments</h4>
    <%= perspective_form.fields_for :attachments do |attachment_form| %>
      <%= render partial: "formattachment", locals: { form: attachment_form } %>

      <!-- Nested form for attachment counters -->
      <h5>Attachment Counters</h5>
      <%= attachment_form.fields_for :attachmentcounters do |counter_form| %>
        <%= render partial: "formattachmentcounter", locals: { form: counter_form } %>
      <% end %>
    <% end %>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>



