<div>
  <%= form.label :copy, "Perspective Copy" %>
  <%= form.text_area :copy %>
</div>

<div>
  <%= form.label :socialplatform_id, "Social Platform" %>
  <%= form.select :socialplatform_id, Socialplatform.all.collect { |sp| [sp.name, sp.id] }, include_blank: true %>
</div>

<div>
  <%= form.label :status, "Status" %>
  <%= form.select :status, ['draft', 'published'], include_blank: true %>
</div>

