<div id="<%= dom_id(post) %>" class="text-gray-900">
  <div class="flex flex-col md:flex-row gap-4 mt-4 mb-4">
  
  <div class="w-full md:w-1/3">
    <label class="GenericFormLabel flex">Categories: <p id="savedCat" class="ml-auto"></p></label>
    <div class="TextArea h-60 bg-white p-4 rounded-md overflow-hidden relative">
      <textarea 
        id="categories" 
        class="border-none outline-none focus:outline-none focus:ring-0 focus:border-none w-full h-full p-2 resize-none"
        placeholder="Enter categories here, separated by commas..."
      ><%= post.categories.join(",") %></textarea>
      <div class="absolute top-2 right-2 flex items-center">
        <button 
          id="categories-copy-button" 
          class="relative p-2 hover:bg-gray-100 rounded transition-all duration-200 ease-in-out" 
        >
          <img src="<%= asset_path('copy.svg') %>" alt="Copy" class="w-4 h-4"/>
        </button>
        <span 
          id="categories-copy-message" 
          class="mr-2 text-green-600 bg-gray-100 px-2 py-1 rounded-md text-xs invisible absolute font-bold right-full top-2"
        >
          Copied!
        </span>
      </div>
    </div>
  </div>

  
  <div class="w-full md:w-2/3">
    <label class="GenericFormLabel flex">Design Idea: <p id="savedDI" class="ml-auto"></p></label>
    <div class="TextArea h-60 bg-white p-4 rounded-md overflow-hidden relative">
      <textarea 
        id="design_idea"
        class="border-none outline-none focus:outline-none focus:ring-0 focus:border-none w-full h-full p-2 resize-none"
        placeholder="Enter your design idea here..."
      ><%= "\n" + post.design_idea %></textarea>
      <div class="absolute top-2 right-2 flex items-center">
        <button 
          id="design-copy-button" 
          class="relative p-2 hover:bg-gray-100 rounded transition-all duration-200 ease-in-out" 
        >
          <img src="<%= asset_path('copy.svg') %>" alt="Copy" class="w-4 h-4"/>
        </button>
        <span id="design-copy-message" 
          class="mr-2 text-green-600 bg-gray-100 px-2 py-1 rounded-md text-xs invisible absolute font-bold right-full top-2">Copied!</span>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#design-copy-button').on('click', function() {
      var copyText = $('#design_idea').val(); // Get the value of the textarea
      var tempInput = $('<textarea>'); // Use a textarea instead of an input to preserve newlines
      $('body').append(tempInput);
      tempInput.val(copyText).select();
      document.execCommand('copy');
      tempInput.remove();

      $('#design-copy-message').removeClass('invisible');
      setTimeout(function() {
        $('#design-copy-message').addClass('invisible');
      }, 1000);
    });
    
    $('#categories-copy-button').on('click', function() {
      var copyText = $("#categories").val();
      var tempInput = $('<textarea>');
      $('body').append(tempInput);
      tempInput.val(copyText).select();
      document.execCommand('copy');
      tempInput.remove();
       
      $('#categories-copy-message').removeClass('invisible');
      setTimeout(function() {
        $('#categories-copy-message').addClass('invisible');
      }, 1000);
    });

    let original_categories = "<%= j(post.categories.join(",")) %>";
    let will_update_categories = false;

    // Add categories update function
    function update_categories() {
      let categories_data = $('#categories').val();
      console.log(categories_data);
      if(categories_data != original_categories) {
        let url = "<%= update_categories_calendar_post_path(@calendar, post)%>";
        let cleaned_categories = categories_data.split(",").map((category) => category.trim()).filter(category => category !== '');
        build_axios();
        axios.patch(url, {post: {categories: cleaned_categories}})
        .then((response) => {
          console.log("success categories");
          original_categories = categories_data;
          $("#savedCat").text("(saved)");
          count = 1;
        })
        .catch((error) => {
          console.log("error categories");
          $("#savedCat").text("(failed " + count + " times, retrying...)");
          count++;
        });
      }
      else {
        $("#savedCat").text("Same Categories");
      }
      will_update_categories = false;
    }

    // Add event listener for categories changes
    $('#categories').on('input', function() {
      if(!will_update_categories) {
        setTimeout(update_categories, 3000);
      }
      $("#savedCat").text("(saving...)");
      will_update_categories = true;
    });
    
    var count = 1;
    let original_design_idea = "<%= j(post.design_idea) %>";
    let will_update_di = false
    
    $('#design_idea').on('input', function() {
      if(!will_update_di) {
        setTimeout(update_design_idea, 3000);
      }
      $("#savedDI").text("(saving...)");
      will_update_di = true
    })

    function build_axios() {
      axios.defaults.withCredentials = true;
      const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      axios.defaults.headers.common['X-CSRF-Token'] = csrfToken;
    }
    
    function update_design_idea() {
      let design_idea_data = $('#design_idea').val();
      console.log(design_idea_data);

      if(design_idea_data != original_design_idea) {
        let url = "<%= update_design_idea_calendar_post_path(@calendar, post)%>"
        build_axios()
        axios.patch(url, {post : {design_idea : design_idea_data}})
        .then((response) => {
          console.log("success design idea")
          original_design_idea = design_idea_data
          $("#savedDI").text("(saved)");
          count = 1;
        })
        .catch((error) => {
          console.log("error design idea")
          $("#savedDI").text("(failed " + count + " times, retrying...)");
          count++;
        })
      }
      else
        $("#savedDI").text("Same Design Idea");
      
      will_update_di = false
    }
  });
</script>
