<div id="post">
  <p style="color: green"><%= notice %></p>   

  <%= render @post %>
  <%= render "posts/perspectives"%>
  <%= render "posts/comments", calendar: @calendar, post: @post, comment_new: @comment_new%>


  <div id="actions">
    <%= link_to "Edit this post", edit_calendar_post_path(@calendar, @post) %> |
    <%= link_to "Back to calendars", calendars_path %> |
    <%= button_to "Destroy this post", calendar_post_path(@calendar, @post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>

</div>