<%= form_with(model: [person, phonenumber], class: "contents") do |form| %>
  <% if phonenumber.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(phonenumber.errors.count, "error") %> prohibited this phonenumber from being saved:</h2>

      <ul>
        <% phonenumber.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :number, class: "GenericFormLabel" %>
    <%= form.text_field :number, class: "InputField block mt-2 w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :current, class: "GenericFormLabel" %>
    <%= form.check_box :current,  class: "CheckboxField" %>
  </div>
  
  <div class="mb-4">
    <%= form.label :is_active, class: "GenericFormLabel" %>
    <%= form.check_box :is_active,  class: "CheckboxField" %>
  </div>

  <div class="Bottom-right mb-4">
    <%= link_to "Cancel", 'javascript:history.back()', class: "Btn-secondary" %>
    <%= form.submit "Submit", class: "Btn-primary ml-2" %>
  </div>
<% end %>