<%= form_with(model: [person, email], class: "contents", id: "email_form") do |form| %>
  <% if email.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
        <% email.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-5">
    <div class="mb-4">
      <%= form.label :email, class: "GenericFormLabel" %>
      <%= form.text_field :email, class: "InputField block mt-2 w-full" %>
    </div>

    <div class="ml-6 mt-1 flex items-center space-x-2">
      <%= form.label :current, "Current Email?", class: "GenericFormLabel" %>
      <%= form.check_box :current, class: "h-5 w-5" %>
    </div>

    <div class="mt-1 flex items-center space-x-2">
      <%= form.label :is_active, "Is this Email Active?", class: "GenericFormLabel" %>
      <%= form.check_box :is_active, class: "h-5 w-5" %>
    </div>
  </div>

  <div class="Bottom-right mb-4">
    <%= link_to "Cancel", 'javascript:void(0)', class: "Btn-secondary", id: "cancel_link_email" %>
    <%= form.submit "Save Email", class: "Btn-primary ml-2" %>
  </div>
  <% end %>

<script>
  $(document).ready(function() {
    $('#cancel_link_email').on('click', function() {
      $('#email_form')[0].reset();
    });
  });
</script>
