<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pi Ww" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <button id="sidebar-toggle" class="p-4 bg-white text-gray-700 fixed top-0 left-0 z-50">☰</button>
    <%= render 'layouts/sidebar' %>
    <div id="main" class="transition-all duration-300 ease-in-out">
      <nav>
        <% unless controller_name == 'sessions' && action_name == 'new' %>
          <p class="notice" style="color:green"><%= notice %></p>
          <p class="alert" style="color:red"><%= alert %></p>
        <% end %>
      </nav>
      <%= yield %>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        var sidebarWidth = $('#sidebar').width();
        
        $('#sidebar-toggle').on('click', function() {
          $('#sidebar').toggleClass('hidden -translate-x-full');

          if ($('#sidebar').hasClass('-translate-x-full')) {
            $('#main').css('margin-left', '0');
          } else {
            $('#main').css('margin-left', sidebarWidth + 'px');
          }
        });
      });
    </script>
  </body>
</html>
